body { 
	overflow-x:hidden;
}

.body-porto {
	background-image:url(rain.png);
	background-size:contain;
	background-attachment:fixed;
}

.jumbotron-main {
	height:900px;
	text-align:center;
	padding-top:60px;
	background-image:url(rain.png);
	background-size:cover;
	background-attachment:fixed;
	margin-bottom:-30px;
}

.jumbotron .display-4 {
	margin-top:200px;
	color:white;
}

a.btn {
	background-color:#611f40;
	border:none;
}

p.lead {
	color:white;
	text-align:center;
}	

table {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:20px;
	border:transparent 1px;
	width:100%;
}

td, tr { 
	color:white;
}

h1 {
	color:white;
	margin-top:50px;
}

h2 {
	padding-top:50px;
	color:#F2F2F2;
	margin-bottom:10px;
}

.h2-covid {
	color:#b85c8a;
	margin-bottom:40px;
}

.container-about {
	background-color:#611f40;
}

.container-covid {
	background-color:#47132c;
	margin-left:0px;
	padding-bottom:50px;
}

.p-covid {
	text-align:justify;
	color:#F2F2F2;
	margin-left:20px;
	margin-right:20px;
}

.h3-contact {
	size:20px;
	padding-top:50px;
	color:#8f8f8f;
	text-align: center;
	margin-bottom:40px;
}

.row-portfolio {
	margin-right:20px;
}

.p-email {
	text-align:center;
	color:#F2F2F2;
	margin-bottom:10px;
}

img {
	margin-left:120px;
	margin-top:40px;
	margin-bottom:50px;
}

.div-footer {
	padding-bottom:50px;
}

.div-arts {
	margin-left:-30px;
}
